.list-Cards{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.list-items{
    display: flex;
    overflow-x: scroll;
}

.card{
   margin-right: 50px; 
   width: 355px;
}

.footer{
    display: flex;
    justify-content: space-around;
}





/* 
    General Styles
*/
